body {
	font-size: 80%;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.15em;	
	background-color: #efefef;
}
			
#page {
	width: 940px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
}

#logo {
	width: 303px;
	margin: 10px auto 25px auto;
}

#navigation { 
	font-family: "Courier New", Courier, monospace;
	list-style: none;
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;	
	text-align: center;
}

#navigation li {
	display: inline;
	margin: 0px 3px;
}

#content {
	width: 600px; 
	margin: 20px auto 20px auto; 
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.33em;
}

h3 {
	font-size: 1.25em;
}	
	
#content img {
	float: left;
	margin: 0 20px 20px 0;
}			
	
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;	
	padding: 6px 18px 5px 18px;
}

a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
}
#column1of2, #column2of2 {
	width: 280px;
	float: left;
	margin: 10px;
}
.clearfix {
	overflow: hidden;
}

#gallery_content {
	width: 500px; 
	margin: 20px auto 20px auto; 
}
	
.entry {
	font-size: 70%;
	width: 220px;
	float: left;
	margin: 10px;
	height: 220px;
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-position: bottom;
}

figure {
	width: 202px;
	height: 193px;
	background-color: #e7e3d8;
	margin: 0px;
	padding: 9px;
}

figure img {
	width: 200px;
	height: 150px;
	border: 1px solid #d6d6d6;
}

figcaption {
	background-image: url("../images/icon.png");
	padding: 5px 0 0 25px;
	background-repeat: no-repeat;
}

figcaption a {
	padding: 0;
}

table{
	border-spacing: 0;
}

table th{
	text-align: left;
}

table td{
	text-align: right;
}

table td, table th{
	padding: 5px 30px 5px 10px;
	font-size: 90%;
	margin: 0;
	background-color: #cbd2d8;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;
	text-shadow: 1px 1px 1px #ffffff;
}

table .even th, table .even td{
	background-color: #F1F8FE;
}