h1{
font-family: 'Georgia', Times, serif;
font-size: 250%;
text-shadow: 2px 2px #666666;
color: #E86F0C;
}

h2{
font-family: 'Gill sans', Arial, sans-serif;
font-size: 90%;
text-transform: uppercase;
color: #FF570D;
}
h3{
font-size: 150%;
color: #FF570D;
}
p{
font-family: Arial, Verdana, sans-serif;
line-height: 1.4em;
}
h1, h2, h3, a{
font-weight: normal;
}
#intro{
font-weight: bold;
}
#credits{
font-style: italic;
text-align: right;
}
a{
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
