body{
   background-image: url('../images/typewriter.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 600px;

}
#page {
    background-color: rgba(255,255,255,.7);
    max-width: 1000px;
    min-width: 700px;
    min-height: 700px;
    margin: 0px auto 20px auto;
    padding: 0 0 100px 0;
    font-family: 'Poiret One', 'Arial', regular;
    border-color: grey;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    z-index: 200;
}
#logo{
    display: block;
    width: 500px;
    margin: 0px auto 10px 335px;
}

#nav {
    width: 700px;
    margin: 10px auto 10px auto;
    border-color: black;
    border-style: solid;
    border-width: 2px 0px 1px 0px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
}
h1{
    width: 300px;
    margin: 20px auto 10px auto;
    color: #3B975F;
}
h2{
    margin: 20px 0 0 100px;
    font-family: 'Handlee', cursive;
    color: black;
    font-size: 2em;
}
address{
    margin-top: 50px;
    font-size: 20px;
}
#mail{
    color: darkcyan;
}

a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: #3B975F;

}

#nav li{
    text-decoration: none;
    display: inline;
    color: black;
    list-style-type: none;
    font-size: 33px;
    margin-right: 50px;
    z-index: 100;
}
p{
    width: 700px;
    margin: 30px auto 50px auto;
    color: #000;
    padding: 10px;
    font-size: 20px;
    border-width:0 0 2px 0;
    border-color: black;
    border-style: solid;
    background-color: rgba(255,255,255, .7);
}
#mail{
    color: #3B975F;
}

#face{
    width: 300px;
    float: left;
    margin: 0 10px 5px 0;
    border: 3px solid #3B975F;
}


